[submodule "Firmware/pico-sdk"]
	path = Firmware/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "Firmware/tinyusb"]
	path = Firmware/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "nRF54/sdk-nrf"]
	path = nRF54/nrf
	url = https://github.com/nrfconnect/sdk-nrf
[submodule "Firmware/picotool"]
	path = Firmware/picotool
	url = https://github.com/raspberrypi/picotool.git
