[submodule "Firmware/pico-sdk"]
	path = Firmware/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "Firmware/tinyusb"]
	path = Firmware/tinyusb
	url = https://github.com/hathach/tinyusb
